## Data in Motion Pandas Challenge Week 15

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.random(4), columns=['random'])

In [3]:
df

     random
0  0.264916
1  0.450109
2  0.662282
3  0.855212

In [4]:
pd.options.display.float_format = '{:.2%}'.format

In [5]:
df

   random
0  26.49%
1  45.01%
2  66.23%
3  85.52%